<!-- Render GuestBook's main list view pane -->
<div class="container">
	<!-- Render a group of buttons -->
	<div >
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
            	<span class="glyphicon glyphicon-th-list"></span>List
            </a> 
            <a href="#" id="grid" class="btn btn-default btn-sm">
            	<span class="glyphicon glyphicon-th"></span>Grid
        	</a>
        </div>		
	</div>

	<!-- Render the list view -->
	<div id="guest-list-view" class="row list-group">
	</div>
</div>