<!-- Render GuestBook's main list view pane -->
<div class="container ">
	<!-- Render a group of buttons -->
<!-- 	<div class="well well-sm">
        <strong>Layouts</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
            	<span class="glyphicon glyphicon-th-list"></span>List
            </a> 
            <a href="#" id="grid" class="btn btn-default btn-sm">
            	<span class="glyphicon glyphicon-th"></span>Grid
        	</a>
        </div>		
	</div>
 -->
	<!-- Render the list view -->
	<div id="guest-list-view" class="row well">
        <% for(var i = 0;i<guestbook_items.length;i++) {%>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-1">
                        <img class="img-responsive" src="<%= guestbook_items[i].thumbNail %>"> 
                    </div>
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-lg-7">
                                <%= guestbook_items[i].name %> says
                            </div>
                            <div class="col-lg-5">
                                <%= guestbook_items[i].timestamp %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <%= guestbook_items[i].message %>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>

        <% }%>

<!--         <div class="item col-xs-12 col-lg-12 thumbnail">
                <div class="row">
                    <div class="col-xs-12 col-lg-2">
                        <img class="img-responsive" src="/images/anonymous.jpg"> 
                    </div>                    
                    <div class="col-xs-12 col-lg-10">
                        <div class="row">
                            <div class="col-lg-1">Budi</div>
                            <div class="col-lg-1">says</div>
                            <div class="">11/24/2013 1:05:10 AM</div>
                        </div>
                    </div>
                </div>
        </div>
 -->	
    </div>
</div>