<!-- Navigation menu -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- navigation menu header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsible-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/images/guest_book_24x24.png"></a>
            <a class="navbar-brand" href="#">Guest book demo</a>
        </div>
        
        <div class="collapse navbar-collapse" id="collapsible-menu">
            <ul class="nav navbar-nav">
                <li><a href="#">Try it</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Socials <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="socials">
                            <%- partial("../partials/socials/g-plusone") %>
                        </li>
                        <li class="socials">
                            <%- partial("../partials/socials/fb-like") %>
                        </li>
                        <li class="socials">
                            <%- partial("../partials/socials/tweet-button") %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Carousel -->
<div id="main-carousel" class="carousel slide">
    <!-- indicators -->
    <ol class="carousel-indicators">
        
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <!--<li data-target="#main-carousel" data-slide-to="2"></li>-->
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/images/guest_book_black.jpg" alt="..."  class="img-responsive">
            <div class="carousel-caption">
                <h1>A simple demo built on sail.js</h1>
                <p><button class="btn btn-success btn-lg">Try it now!</button></p>
            </div>
        </div>
        <div class="item">
            <img src="/images/bridge_under_the_clouds.jpg" alt="..." class="img-responsive">
            <div class="carousel-caption">
                <h1>Developed &amp; Run on the Cloud</h1>
                <p><button class="btn btn-success btn-lg">Try it now!</button></p>
            </div>
        </div>
    </div>
    
    <!-- Controls -->
    <a class="left carousel-control" href="#main-carousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>

    <a class="right carousel-control" href="#main-carousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
    
</div>

<!-- Bottom content  -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Something</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p></p>
        </div>
        <div class="col-lg-4">
            <h2>Something</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p></p>
        </div>
        <div class="col-lg-4">
            <h2>Something</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p></p>
        </div>
    </div>
    <hr>
    <h5>Powered by:</h5>
    <br/>
    <div class="row barone">
        <div class="col-lg-2">
            <p>
                <img src="/images/node-logo.png">
            </p>
        </div>
        <div class="col-lg-2">
            <p>
                <img src="/images/sails-js-logo.jpg">
            </p>
        </div>
        <div class="col-lg-2">
            <p>
                <img src="/images/twitter-bootstrap-logo.jpg">
            </p>
        </div>
        
        <div class="col-lg-2">
            <p>
                <img src="/images/angular-js-dark-logo.png">
            </p>
        </div>
        <div class="col-lg-2">
            <p>
                <img src="/images/amazon_web_services_logo.jpg">
            </p>
        </div>
        <div class="col-lg-2">
            <p>
                <img src="/images/koding_logo.jpg">
            </p>
        </div>
        
    </div>
    <hr>
    <footer>
        <p>Copyright &copy; 2013-14 by Xtremecode.asia</p>
    </footer>
</div>